{:paths   ["src"]
 :deps    {}
 :aliases {:dev  {:extra-deps  {github-akovantsev/pp
                                {:git/url "https://github.com/akovantsev/pp"
                                 :git/sha "1357db37ce27419441696c6701ae27f163e665ea"}}}
           :cljs {:extra-paths ["test" "cljs-test-runner-out/gen"]
                  :extra-deps  {org.clojure/clojure       {:mvn/version "1.11.1"}
                                org.clojure/clojurescript {:mvn/version "1.11.60"}
                                olical/cljs-test-runner   {:mvn/version "3.8.0"}}
                  :main-opts   ["-m" "cljs-test-runner.main"]}}}