{:paths   ["src"]
 :deps    {github-akovantsev/pp
           {:git/url "https://github.com/akovantsev/pp"
            :git/sha "5c733531576de764f188aa7d2e0cecc6079e024d"}}
 :aliases {:dev  {:extra-deps  {}}
           :cljs {:extra-paths ["test" "cljs-test-runner-out/gen"]
                  :extra-deps  {org.clojure/clojure       {:mvn/version "1.11.1"}
                                org.clojure/clojurescript {:mvn/version "1.11.60"}
                                olical/cljs-test-runner   {:mvn/version "3.8.0"}}
                  :main-opts   ["-m" "cljs-test-runner.main"]}}}